#esse arquivo serve pra ignorar arquivos que não devem ser versionados no git, quando tu faz um commit
#ele ignora os arquivos que estão listados aqui

# ===== Flutter =====

# Build outputs
/build/
/flutter/bin/cache/
/.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/.dart_tool/

# IntelliJ / Android Studio
.idea/
/*.iml

# VS Code
.vscode/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/Runner.xcworkspace/
ios/.symlinks/

# Android
.android/
app/*.iml

# Generated plugin registrant
/.dart_tool/

# Misc
*.log

# ===== Python =====

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VS Code
.vscode/

# Others
*.env
*.venv
