# Flutter
build/
.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.env

# IDEs
.idea/
.vscode/

# Arquivos temporários
*.log
*.tmp

# Sistema operacional
.DS_Store
Thumbs.db

# Python 
__pycache__/
*.py[cod]
venv/
*.env
